.container {
    margin-bottom: 80px;
    margin-top: 20px;
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    border: 1px solid red;
  }
  .card {
    background-color: white;
    font-size: 20px;
    padding: 15px;
    border: 1px solid teal;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .card:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .card-item:not(:last-child) {
    margin-bottom: 20px;
    border: 1px solid blue;
  }
  .card-title {
    margin: 0;
    color: purple;
    font-size: 20px;
  }
  
  .card-description {
    font-size: 15px;
    color: #696969;
    line-height: 1.5;
  }